# ESPN Fantasy Hockey configuration
LEAGUE_ID=760495843
ESPN_S2=
SWID=
ESPN_FANTASY_SEASON=2027
ESPN_FANTASY_HOST=https://lm-api-reads.fantasy.espn.com
ESPN_SCOREBOARD_URL=https://site.api.espn.com/apis/site/v2/sports/hockey/nhl/scoreboard
NHL_SCORE_URL=https://api-web.nhle.com/v1/score/now
